<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>
    <img class = "logo" src="./assets/images/cognizant logo.png"/>
    <p class="title">Allocation Application</p>
  </h1>
  <div *ngIf="sessionStarted(); else sessionNotStarted" class="rightsideoptions" >
    <div class="profile">
      <img class="profileicon" (click)="showProfileFlag=!showProfileFlag;" src="./assets/images/profile_icon.png"/>
      <div *ngIf="showProfileFlag" class="profiletext">
        <p> UserID : <span class="userid">{{getUserID()}}</span></p>
        <p> Role : <span class="role">{{getUserRole()}}</span></p>
      </div>
    </div>
    <button mat-button class="logoutButton" (click)="logout()">Logout</button>
  </div>
</div>

<ng-template #sessionNotStarted>
  <button mat-button class="registerButton" (click)="getRegisterPage()">Register</button>
</ng-template>

<div class="sidemenu" *ngIf="sessionStarted()">
  <label #userpage (click)="getUserPage();">View Allocation Details</label>
  <label #adminpage *ngIf="getRoleID()==='1'" (click)="getUpdateExcelPage()" >Modify Allocation Details</label>
  <label #tracker *ngIf="getRoleID()==='1'" (click)="getDownloadTrackerPage()">DownloadTracker</label>
</div>

<footer *ngIf="!sessionStarted()">
      Facing Issues . Need Support?
      <a href=""> click here</a>
</footer>

<router-outlet></router-outlet>
