<body>
    <div *ngIf="this.app.sessionStarted(); else invalidLogin" class="filters">
        <form class="filters">
            <div class="firstline">
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Associate Dept</mat-label>
                <input matInput  name="dept" />
            </mat-form-field>
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Associate Level</mat-label>
                <input matInput name="level" />
            </mat-form-field>
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>SGA</mat-label>
                <input matInput name="sga" />
            </mat-form-field>
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Area</mat-label>
                <input matInput name="area" />
            </mat-form-field>
            </div>
            <div class="secondline">
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Leader</mat-label>
                <input matInput name="leader" />
            </mat-form-field>
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Initiative</mat-label>
                <input matInput name="initiative" />
            </mat-form-field>
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Location</mat-label>
                <input matInput name="location" />
            </mat-form-field>
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Account</mat-label>
                <input matInput  name="account" />
            </mat-form-field>
            </div>
            <div class="thirdline">
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Vertical</mat-label>
                <input matInput  name="vertical" />
            </mat-form-field>
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Descrepany Report 1</mat-label>
                <input matInput  name="dr1" />
            </mat-form-field>
            <mat-form-field  class="filter"  appearance="fill">
                <mat-label>Descrepany Report 2</mat-label>
                <input matInput  name="dr2" />
            </mat-form-field>
            </div>
            <div>
            <mat-radio-group name="radio" [(ngModel)]="radio">
                <mat-radio-button name="base only" value="base only">CoE Associates in Base Sheet Only</mat-radio-button>
                <mat-radio-button name="master only" value="master only">CoE Associates in Master Sheet Only</mat-radio-button>
            </mat-radio-group>
            <mat-checkbox name="diff" class="filter" [(ngModel)]="checked">CoE Associates with different HCM as compared to Master</mat-checkbox>
            </div>
            <button mat-raised-button class="searchButton">Search</button>
            <button mat-raised-button class="resetButton" type="reset">Reset</button>
            <button mat-raised-button class="downloadButton" (click)="downloadExcel()">Download</button>
        </form>
        <table>
            <th *ngFor="let column of baseColumns">
                {{column}}
            </th>
            <tr *ngFor="let baseData of baseDataList">
                <td>{{baseData.SrNo}}</td>
                <td>{{baseData.AssociateID}}</td>
                <td>{{baseData.AssociateName}}</td>
                <td>{{baseData.GradeHR}}</td>
                <td>{{baseData.AssociateDept}}</td>
                <td>{{baseData.OnOff}}</td>
                <td>{{baseData.HomeManagerID}}</td>
                <td>{{baseData.HCMName}}</td>
                <td>{{baseData.HCMDept}}</td>
                <td>{{baseData.Area}}</td>
                <td>{{baseData.Leader}}</td>
                <td>{{baseData.SGA}}</td>
                <td>{{baseData.ProjectID}}</td>
                <td>{{baseData.ProjectDescription}}</td>
                <td>{{baseData.PercentAllocation}}</td>
                <td>{{baseData.FTE}}</td>
                <td>{{baseData.CostforSGA}}</td>
                <td>{{baseData.CurrentStatusforSGA}}</td>
                <td>{{baseData.AssignmentStartDate}}</td>
                <td>{{baseData.DateofJoining}}</td>
                <td>{{baseData.FINDepartmentID}}</td>
                <td>{{baseData.DepartmentName}}</td>
                <td>{{baseData.ProjectBillability}}</td>
                <td>{{baseData.ProjectType}}</td>
                <td>{{baseData.ProjectStatus}}</td>
                <td>{{baseData.Project_Solution_Type}}</td>
                <td>{{baseData.ProjectManagerID}}</td>
                <td>{{baseData.ProjectManagerName}}</td>
                <td>{{baseData.AccountID}}</td>
                <td>{{baseData.AccountName}}</td>
                <td>{{baseData.ParentCustomer}}</td>
                <td>{{baseData.PoolID}}</td>
                <td>{{baseData.PoolDescription}}</td>
                <td>{{baseData.JobCode}}</td>
                <td>{{baseData.Designation}}</td>
                <td>{{baseData.Grade}}</td>
                <td>{{baseData.AssociateBaseHiringLocation}}</td>
                <td>{{baseData.HCMSetID}}</td>
                <td>{{baseData.ProjectOwningDepartment}}</td>
                <td>{{baseData.ProjectOwningPractice}}</td>
                <td>{{baseData.Vertical}}</td>
                <td>{{baseData.BillabilityStatus}}</td>
                <td>{{baseData.PrimaryStateTag}}</td>
                <td>{{baseData.AssignmentID}}</td>
                <td>{{baseData.SOID}}</td>
                <td>{{baseData.SOLine}}</td>
                <td>{{baseData.CriticalFlag}}</td>
                <td>{{baseData.LocationID}}</td>
                <td>{{baseData.SEZFlag}}</td>
                <td>{{baseData.Country}}</td>
                <td>{{baseData.State}}</td>
                <td>{{baseData.City}}</td>
                <td>{{baseData.AssignmentEndDate}}</td>
                <td>{{baseData.AssignmentStatus}}</td>
                <td>{{baseData.ProjectRole}}</td>
                <td>{{baseData.OperationalRole}}</td>
                <td>{{baseData.Assignmentlocation}}</td>
                <td>{{baseData.AssgnCity}}</td>
                <td>{{baseData.AssgnState}}</td>
                <td>{{baseData.AssgnCountry}}</td>
                <td>{{baseData.LocationReasoncode}}</td>
                <td>{{baseData.ProjectStartDate}}</td>
                <td>{{baseData.ProjectEndDate}}</td>
                <td>{{baseData.SubVertical}}</td>
                <td>{{baseData.SBU1}}</td>
                <td>{{baseData.SBU2}}</td>
                <td>{{baseData.ContractorEndDate}}</td>
                <td>{{baseData.Comment}}</td>
                <td>{{baseData.PoolResource}}</td>
                <td>{{baseData.Competency}}</td>
                <td>{{baseData.SecondaryStateTag}}</td>
                <td>{{baseData.ReplacedEmployee}}</td>
                <td>{{baseData.Comments}}</td>
                <td>{{baseData.ClientFacility}}</td>
            </tr>
        </table>
    </div>
    <ng-template #invalidLogin>
        <p>You are not logged in.</p>
        <p>Please login to continue.</p>
    </ng-template>
</body>
