form{
    position: fixed;
    top:5%;
    left: 20%;
    right: 0%;
    padding:2%;
}
table{
    position: absolute;
    top:60%;
    left:22%;
    margin-top: 20px;
    border: 1px solid;
    border-collapse: collapse;background-color: antiquewhite;
}
.filter{
    margin-right: 1%;
    width: 240px;
}
mat-radio-button{
    margin-right: 20px;
}
mat-checkbox{
    display: block;
}
.searchButton{
    background-color: goldenrod;
    margin-top: 2px;
    margin-right: 20px;
    margin-left: 30px;
}
.resetButton{
    margin-right: 20px;
}
.downloadButton{
    background-color: green;
}
th,td{
 border:1px solid;   
}